/** RESET **/

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  /* PRIMARY */

  --tomato: hsl(4, 100%, 67%);

  /* NEUTRAL */

  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);

  /* GRADIENT */
  --gradient: linear-gradient(hsl(4, 100%, 67%), #ff527b);
}

body {
  margin: 0;
  padding: 0;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--charcoal-grey);
  color: var(--dark-slate-grey);
}

.max-width-wrapper {
  max-width: 23.43rem;
  margin: 0 10px;
  background-color: var(--white);
}

.card {
  padding: 40px 24px;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
}

.sign-up-title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3;
}

.sign-up-description {
  margin: 24px 0;
}

.sign-up-list {
  padding: 0;
  list-style-image: url("./assets/images/icon-list.svg");
  padding: 0 24px;
  margin-bottom: 40px;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}

.email-label {
  margin-bottom: 8px;
  font-size: 0.75rem;
  color: var(--dark-slate-grey);
  font-weight: 700;
}

.label-error-container {
  display: flex;
}

.email-label,
.error-message {
  display: inline-flex;
}

.error-message {
  margin-left: auto;
  color: var(--tomato);
}

.email {
  padding: 16px 24px;
  border: 1px solid var(--grey);
  border-radius: 8px;
  outline: none;
}

.btn {
  padding: 18px 24px;
  border-radius: 8px;
  border: none;
  background-color: var(--dark-slate-grey);
  color: var(--white);
  font-weight: 700;
}

.subscribe-btn {
  margin-top: 24px;
}

.hidden {
  display: none;
}

.success-icon {
  width: 64px;
  height: 64px;
}

.error {
  color: var(--tomato);
  border: 1px solid var(--tomato);
}

.success-container {
  height: 100vh;
}

.success-icon {
  margin-top: 40%;
  margin-bottom: 40px;
}

.success-title {
  margin-bottom: 24px;
}

.dismiss-btn {
  margin-top: 263px;
  margin-bottom: 40px;
  width: 100%;
}

.dismiss-btn:hover {
  background-color: var(--grey);
}

.subscribe-btn:hover {
  background: var(--gradient);
}

@media (min-width: 58rem) {
  .max-width-wrapper {
    max-width: 58rem;
    margin: 0 10px;
    border-radius: 3rem;
  }

  .sign-up-container {
    flex-direction: row-reverse;
    padding: 24px;
  }

  .sign-up-text {
    padding: 74px 64px;
  }

  .img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  .sign-up-title {
    font-size: 3.5rem;
  }

  .success-container {
    padding: 64px;
    margin: 0;
    max-width: 504px;
    min-height: fit-content;
    max-height: 40%;
    height: min-content;
  }

  .success-icon {
    margin-bottom: 40px;
  }

  .success-title {
    font-size: 3.5rem;
    line-height: 1;
  }

  .dismiss-btn {
    margin-top: 40px;
    margin-bottom: 0;
  }

  .success-icon {
    margin-top: 0;
  }
}
